<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyStore</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<br><br><br>
<h1>Welcome to MyStore!</h1>


<div class="navbar">
    <a href="/api/home">MyStore</a>
    <a href="/api/products">Products</a>
    <a href="/api/create-product">Create</a>
</div>
<footer>
    <p>&copy; 2023 MyStore. All rights reserved.</p>
    <p>Tashkent Uzbekistan</p>
    <p>Phone: +99891-471-XX-XX</p>
    <p>Email: ************@gmail.com</p>
    <nav>
        <a href="/api/home">MyStore</a>
        <a href="/api/products">Products</a>
        <a href="/api/create-product">Create</a>
    </nav>
</footer>
</body>
</html>
