<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MyStore</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>
<div class="navbar">
    <a href="/api/home">MyStore</a>
    <a href="/api/products">Products</a>
    <a href="/api/create-product">Create</a>
</div>
<main>
    <h1>Product List</h1>
    <div th:unless="${showForm}">

        <table id="productTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}" class="productRow">
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="create-main">
    <div th:if="${showForm}" class="create-form">
        <h2>Create Product</h2>
        <form th:action="@{/api/product}" th:object="${product}" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required><br><br>
            <label for="price">Price:</label>
            <input type="number" id="price" th:field="*{price}" step="0.01" required><br><br>
            <label for="category">Category:</label>
            <select name="categoryId" id="category" required th:field="*{categoryId}">
                <option th:each="category : ${categories}"
                        th:value="${category.getId()}"
                        th:text="${category.getName()}">
                </option>
            </select><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    </div>
</main>

<footer>
    <p>&copy; 2023 MyStore. All rights reserved.</p>
    <p>Tashkent Uzbekistan</p>
    <p>Phone: +99891-471-XX-XX</p>
    <p>Email: ************@gmail.com</p>
    <nav>
        <a href="/api/home">MyStore</a>
        <a href="/api/products">Products</a>
        <a href="/api/create-product">Create</a>
    </nav>
</footer>

</body>
</html>
